#home .home1 h2,#home .home2 h2,#home .home3 h2,#home .home4 h2{
    color:black;
    text-shadow: 2px 2px 10px white,1px 1px 4px yellow;
    font-size: 40px;
}
#home .home1 p,#home .home4 p{
    font-size: 25px;
    text-shadow: 2px 2px 10px white,1px 1px 4px white;
    font-weight: bold;
}
#home .home1,
#home .home2,
#home .home3,
#home .home4 {
    padding: 20px;
    border-radius: 16px;
    margin: 20px 10px;
    max-width: 500px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
#home .home1:hover,#home .home2:hover,#home .home3:hover,#home .home4:hover{
    transform: translateY(-5px);
    background-color: white;
    border:solid yellow;
    border-radius: 10px;
    box-shadow: 2px 2px 10px white;
    
}
.home2 .discover h3,.home2 .favv h3,.home2 .explore h3{
    text-shadow: 2px 2px 10px white,2px 2px 4px yellow;
    font-size: 30px;
}
.home2 .discover p,.home2 .favv p,.home2 .explore p{
    font-size: 25px;
    text-shadow: 2px 2px 10px white,1px 1px 4px white;
    font-weight: bold;
}
.home3 .card{
    box-shadow: 2px 2px 10px gray;
    max-width: 200px;
    padding: 20px;
    margin:20px auto;
    border-radius: 10px;
    font-size: 20px;
}
.home3 .card:hover{
    background-color: rgb(242, 219, 219);
}
.home3 .card img{
    border-radius: 20px;
    border:5px solid rgb(199, 155, 155);
}
.home4 button {
    background-color: antiquewhite;
    border:solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px white;
    padding: 5px;
    font-size: 15px;
}
.home4 button:active{
    background-color: rgb(190, 178, 162);
    border-color: antiquewhite;
    padding: 5px;
}
.home4 button .butt{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
