.details,.outcontent{
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    color: gray;
    border:1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px yellow;
    font-size: 20px;
}
